$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$bgColor: #fff;
$textColor: #000;
$hoverColor: $bgColor;
$topbarColor: #263B5C;
$topbarTextColor: #fff;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:before, .clearfix:after {
	display: table;
	content: ' ';
}

/* general styles */
h1 {
	text-align: center;
	font-size: 3em;
}

h2 {

}

h3 {

}

textarea, input {
	color: #000;
}

.body-content {
	width: 75%;
	margin: 2em auto;
}
@media only screen and (max-width: 991px) {
	.body-content {
		width: 991px;
	}
}

.button {
	min-width: 200px;
	height: 70px;
	border: 2px solid $textColor;
	font-size: 25px;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	padding: 10px;
	margin: 20px;

	color: $textColor;
	text-decoration: none;
	background: $bgColor;
}

.button:hover {
	cursor: pointer;
	text-decoration: none;
}

.button.disabled {
	border-color: #6B6B6B;
	color: #6B6B6B;
}

.button:not([disabled=disabled]):hover {
	background: rgba(0,0,0,0.2);
}

.button[disabled=disabled] {
	color: #E7EDF6;
	border-color: #E7EDF6;
}

.button.selected {
	border-width: 3px;
}

.error {
	background-color: red;
	display: inline-block;
	padding: 5px;
	margin: 30px;
}


.full-width {
	width: 100%;
}

.center {
	margin: 0 auto;
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* index page */
html, body {
  font-family: 'Open Sans', sans-serif;
  color: $textColor;
  background: $bgColor;
  height: 100%;
}

.top-bar {
	width: 100%;
	background: $topbarColor;
	color: $topbarTextColor;
	padding: 0.4em;
	font-size: 1.5em;
	a {
		color: $topbarTextColor;
	}
}
.top-bar .right {
	float: right;
}

[ng-view] {
	height: 100%;
	padding: 5%;
	text-align: center;
}

/* main page */
.page {
	height: 100%;
}

.step {
	height: 20%;
	text-align: left;
}

.two {
	text-align: right;
}

/* choose type page */
.options {
	text-align: center;
	font-size: 30px;
	margin-top: 2em;
}

/* choose location page */
.angular-google-map-container {
	height: 400px;
	margin: 3em;
}

.search {
	margin: 2em;
	font-size: 2em;
	line-height: 70px;
	input {
		height: 70px;
		border-size: 2px;
	}
	.button {
		margin: 0;
		padding: 0;
	}
}

/* question page */
.choices {
	text-align: center;
}

.choice {
	display: inline-block;
	height: 200px;
	width: 200px;
	background: #E6ECF6;
	margin: 30px;
	text-align: center;
	overflow: hidden;
}
.choice img {
	max-width: 200px;
}

.choice:hover {
	outline: 5px solid $textColor;
	cursor: pointer;
}
.choice.selected {
	outline: 5px solid $topbarColor;
}

/* login page */
.login {
	width: 50%;
	margin: 0 auto;
	height: 100%;
}

.top {
	height: 33%;
}
.middle {
	height: 33%;
}
.bottom {
	height: 33%;
}

/* matches page */
.people {
	text-align: center;
}

.person {
	width: 250px;
	padding: 0;
	background: #A8C5F3;
	margin: 2em auto;
	text-align: center;

	p {
		clear: both;
	}
	.bio {
		width: 250px;
		height: 150px;
		padding: 2px;
		margin: 1px ;
		text-align: left;
	}
	img {
		clear: both;
	}
	.button {
		margin: 0 0 .5em 0;
		width: 230px;
	}
}

.people .person {
	margin: 2em;
}



