<h1>Where would you like to live?</h1>

<section ng-show="!coords.lat && !coords.lng" class="search">
	<input type="text" ng-model="location" placeholder="Enter a location"> <input type="submit" class="button" ng-click="findLocation()" value="Search">
</section>

<section ng-if="coords.lat && coords.lng">
	<h2>Drag and resize the circle to choose your ideal location</h2>
	<google-map center="map.center" zoom="map.zoom">
		<circle center="circle.center" stroke="circle.stroke" fill="circle.fill" radius="circle.radius" visible="circle.visible" geodesic="circle.geodesic" editable="circle.editable" draggable="circle.draggable" clickable="circle.clickable"></circle>
	</google-map>

	<a ng-click="resetSearch()" class="button">Search again</a>
	<a href="#/question/1" class="button">Confirm location</a>
</section>