<section class="login">
	<section class="top">
		<h1>There's just one more step</h1>
		<h2>We need you to confirm your identity</h2>
	</section>

	<section class="middle">
		<div class="button" ng-click="facebookLogin()">Sign in with facebook</div>
	</section>

	<section class="bottom">
		<h2>Why do I have to sign in with facebook?</h2>
		<p>Using facebook means we can check that everyone who signs up is a living breathing human being. The kind of person you'd want to live with. We also use your photo and real name to show to other people.</p>
		<p>Hate facebook? We're open to suggestions. Email us</p>
	</section>
</section>