<h1>Your matches</h1>

<section ng-if="!matches">
	<h2>Loading your matches</h2>
</section>
<section class="people">
	<!--   -->
	<article class="person left" ng-repeat="match in matches | filter:{user1:user.uid} | orderBy:'similiarityScore':true">
		<img ng-src="{{users[match.user2].picture}}" alt="Picture of {{users[match.user2].name}}"><br>
		{{users[match.user2].name}}
		<p>Distance: {{match.distance}}</p>
		<p>Would like to live in <strong>Walthamstow</strong></p>
		<p>Similiarity: {{match.similiarityScore}}</p>
		<p>
			{{users[match.user2].bio}}
		</p>
		<div class="button">Email match</div>
		<!-- <div class="button">Don't like</div> -->
		<!-- don't like button removed until generated matches are implemented and the preference can be stored -->
	</article>
</section>