<h1>Your matches</h1>

<section class="matches">
	<article class="match">
		<img src="http://placekitten.com/150/150" alt=""><br>
		Person's name
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint hic, necessitatibus molestiae laudantium distinctio dolor nesciunt velit perferendis ea maxime suscipit dolore blanditiis ex. Soluta quis, assumenda itaque laborum quia.
		</p>
		<div class="button">Get in touch</div>
		<div class="button">Don't like</div>
	</article>
	<article class="match">
		<img src="http://placekitten.com/150/150" alt=""><br>
		Person's name
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium explicabo, nobis facere laboriosam magni nisi labore quibusdam ipsum, doloribus, quod, voluptatibus fuga! Veniam accusamus cumque, nobis hic perferendis, harum vitae!
		</p>
		<div class="button">Get in touch</div>
		<div class="button">Don't like</div>
	</article>
	<article class="match">
		<img src="http://placekitten.com/150/150" alt=""><br>
		Person's name
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, quo, quidem voluptatum inventore debitis expedita et! Deserunt perferendis amet doloremque dolores soluta molestiae, ipsa, explicabo sit officia, pariatur quaerat possimus.
		</p>
		<div class="button">Get in touch</div>
		<div class="button">Don't like</div>
	</article>
	<article class="match">
		<img src="http://placekitten.com/150/150" alt=""><br>
		Person's name
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt officia reiciendis, minima ab autem ut dolores quos vel rem, ad inventore sint nobis odit, optio molestias deserunt. Ullam, dolorem, voluptas?
		</p>
		<div class="button">Get in touch</div>
		<div class="button">Don't like</div>
	</article>
</section>

<div class="button">See more matches &gt;</div>
<div class="button">Logout</div>
<div class="button">Delete my account</div>